<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/include :: common_header(~{::title},~{::meta})">
    <title>淡白影视 - 综艺</title>
    <meta name="Keywords" content="淡白影视,淡白电影,淡白电视剧,淡白综艺,开源影视网站,弹幕影视"/>
    <meta name="Description" content="淡白影视是一个在线免vip观看影视的网站,还能观看发送弹幕."/>
</head>
<body>
<div style="background:#FFF" th:include="include/include :: dhl">
</div>

<div class="container">
    <div class="row" style="padding:0 7px;">
        <div class="col-md-12 movie-item-out">
            <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">
                最新综艺：
            </h3>
        </div>
    </div>
    <div style="padding:0 10px;">
        <div class="row" style="background: #F6F5F6;">
            <div class="col-md-2 col-sm-3 col-xs-6 movie-item-out" th:each="ys:${ysb}">
                <div class="movie-item" th:inline="text">
                    <a style="position:relative;display:block;" target="_blank" th:href="'/ys?'+id+'='+(${ys.id})"
                       th:title="${ys.pm}">
                        <img class="indexhot" th:src="${ys.tp}" th:alt="${'淡白影视-'+ys.pm}">
                        <button class="hdtag">[[${ys.zt}]]</button>
                    </a>
                    <div class="meta">
                        <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" class="movie-name"
                                                                                th:href="'/ys?'+id+'='+(${ys.id})">[[${ys.pm}]]</a>
                        </div>
                        <em>添加时间：<strong><span style="color:#FF0000;">[[${ys.gxtime}]]</span></strong></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:#FFF;padding-left:15px;">
        [['当前第'+${page}+'/'+${zys}+'页']]
        <span th:if="${page!=1}">[<a href="/type/dy?page=1">首页</a>]</span>
        <span th:if="${page!=1}">[<a th:href="'/type/zy?page='+${page - 1}">上一页</a>]</span>
        <span th:if="${page>2}">[<a th:href="'/type/zy?page='+${page - 2}" th:text="${page - 2}"></a>]</span>
        <span th:if="${page>1}">[<a th:href="'/type/zy?page='+${page - 1}" th:text="${page - 1}"></a>]</span>
        [<span style='color:red;font-weight:bold;' th:text="${page}"></span>]
        <span th:if="${page+1<zys}">[<a th:href="'/type/zy?page='+${page + 1}" th:text="${page + 1}"></a>]</span>
        <span th:if="${page+2<zys}">[<a th:href="'/type/zy?page='+${page + 2}" th:text="${page + 2}"></a>]</span>
        <span th:if="${page!=zys}">[<a th:href="'/type/zy?page='+${page + 1}">下一页</a>]</span>
        <span th:if="${page!=zys}">[<a th:href="'/type/zy?page='+${zys}">尾页</a>]</span>
    </div>
</div>
<footer class="footer" th:include="include/include :: foot"></footer>
</body>
</html>
