<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${ys.pm}+' - 淡白影视'"></title>
    <meta name="Keywords" th:content="'淡白电影,免费高清电影,收费电影免费看,最新电影,最新电影下载,'+${ys.pm}" />
    <meta name="Description" th:content="${ys.js}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="http://cdn.p00q.cn:81/favicon.ico">
    <link rel="stylesheet" href="http://cdn.p00q.cn:81/ys/css/bootstrap.min.css">
    <script src="http://cdn.p00q.cn:81/ys/js/jquery.min.js"></script>
    <script src="http://cdn.p00q.cn:81/ys/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="http://cdn.p00q.cn:81/ys/css/bootadd.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="http://cdn.p00q.cn:81/ys/css/css2.css">
</head>
<body>
<div style="background:#FFF" th:include="include/include :: dhl">
</div>
<div class="container">
    <div class="container-fluid" style="padding-top:15px;background:#FFF;position:relative">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" style="padding-right:5px;">
                        <img class="img-thumbnail" width="100%" th:src="${ys.tp}" th:alt="${ys.pm}">
                        <button class="hdtag" th:text="${ys.zt}">高清中字</button>
                </div>
                <div style="margin:10px auto;">
                    <em th:text="'更新时间：'+${ys.gxtime}"></em></div>
                <div class="col-md-8" style="padding-right:5px;">
                    <table class="table table-striped table-condensed table-bordered" style="margin-bottom:10px;font-size:12px;">
                        <tbody>
                        <tr>
                            <td class="span2">
                                <span class="info-label">导演</span></td>
                            <td th:text="${ys.dy}"></td></tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">主演</span></td>
                            <td id="casts" style="position:relative;" th:text="${ys.zy}">

                            </td>
                        </tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">类型</span></td>
                            <td th:text="${ys.lx}"></td>
                        </tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">制片国家</span></td>
                            <td th:text="${ys.dq}"></td></tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">更新状态</span></td>
                            <td th:text="${ys.zt}">高清中字</td></tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">上映日期</span></td>
                            <td th:text="${ys.sytime}"></td></tr>
                        <tr>
                            <td class="span2">
                                <span class="info-label">评分</span></td>
                            <td th:text="${ys.pf}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p style="color:#777;">
                        <strong>剧情介绍：</strong></p>
                    <p class="summary" th:text="${ys.js}"></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px;"></div>
        </div>
        <h3 class="movie-title" th:text="'视频名称：'+${ys.pm}+' - '+${ys.zt}"></h3>
        <div class="player" id="player">
            <div id="dplayer"></div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default resource-list">
                <div class="panel-heading"><strong th:text="'《'+${ys.pm}+'》 - 1.在线视频 (支持手机)高清资源 - 在线播放 - 如果不能播放先刷新试试：'"></strong></div>
                <ul class="dslist-group" th:if="${xs!=null}">
                    <li class="dslist-group-item on" th:each="ji : ${xs}">
                        <span style="cursor:pointer;background-color: #F34868;color: #FFF;margin: 3px;  padding: 5px 12px 5px 10px;text-decoration: none;" class="ji" th:text="${ji.name}" th:value="${ji.url}"></span>
                    </li>
                </ul>
                <ul class="dslist-group" th:if="${gs!=null}">
                    <li class="dslist-group-item on" th:each="ji : ${gs}">
                        <a href="#" target="_blank" th:text="${ji.name}" th:href="${ji.url}"></a>
                    </li>
                </ul>
                <div class="panel-footer resource-help" style="clear: both;">
                    <strong th:text="'《'+${ys.pm}+'》 - 资源观看帮助：'"></strong><br>
                    1、有个别电影打开后播放需要等待。<br>
                    2、如果电影打开不能播放请留言给我们，我们更换资源。<br>
                    3、有的播放不了请多刷新几下，试试。
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:include="include/include :: foot"></footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    var user = /*[[${session.user}]]*/ null;
    /*]]>*/
    if(user==null){
        var username="user";
    }else {
        var username=user.username;
    }
</script>
<script th:if="${xs!=null}">
    var fstys= /*[[${xs[0].url}]]*/ null;
</script>
<script th:inline="javascript">
    var ysid= [[${ys.id}]];
    const dp = new DPlayer({
        container: document.getElementById('dplayer'),
        video: {
            url:fstys,
            pic: 'http://cdn.p00q.cn:81/ys/img/tip.png'
        },
        danmaku: {
            id: ysid,
            api: 'http://39.108.110.44:1207/',
            maximum: 1000,
            user: username,
            bottom: '15%',
            unlimited: true
        }
    });
    $(".ji").click(function () {
        dp.switchVideo({
            url: $(this).attr("value"),
            pic: 'http://cdn.p00q.cn:81/ys/img/tip.png'
        },{
            id: ysid+$(this).html(),
            api: 'http://39.108.110.44:1207/',
            maximum: 1000,
            user: username
        });
        dp.notice("正在加载请稍后!");
        dp.play();
    });
</script>
</body>
</html>
