<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,meta)">
    <title th:replace="${title}">淡白影视</title>
    <meta charset="utf-8">
    <th:block th:replace="${meta}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="https://cdn.p00q.cn/favicon.ico">
    <link rel="stylesheet" href="https://cdn.p00q.cn/ys/css/bootstrap.min.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="https://cdn.p00q.cn/ys/css/bootadd.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="https://cdn.p00q.cn/ys/css/css2.css">
    <script src="https://cdn.p00q.cn/ys/js/jquery.min.js"></script>
    <script src="https://cdn.p00q.cn/ys/js/bootstrap.min.js"></script>
    <th:block th:utext="${head}" />
</head>

<body>
<div style="background:#FFF" th:fragment="dhl">
    <div style="padding:5px 0;border-bottom:1px solid #DDD;">
        <div class="container">
            <span class="header-help">欢迎来到淡白影视,记住我们网址:https://dbys.vip</span>
            <div class="pull-right">
                <a class="header-help" href="javascript:alert('快捷键Ctrl+D可以快速添加到收藏夹。');">Ctrl+D 加入收藏夹</a>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:15px;padding-bottom:15px;padding-right:0;">
        <div th:utext="${gg}">

        </div>
        <div class="pull-right">
            <form class="navbar-form" target="_blank" accept-charset="utf-8" action="/search" method="get"
                  role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="gjc" placeholder="影视搜索">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/type/dy?page=1">电影</a></li>
                    <li><a href="/type/dsj?page=1">电视剧</a></li>
                    <li><a href="/type/zy?page=1">综艺</a></li>
                    <li><a href="/type/dm?page=1">动漫</a></li>
                    <li><a href="/type/tv">直播</a></li>
                    <li><a href="/yiqikan">一起看(需先登录)</a></li>
                </ul>
                <div class="pull-right">
                    <ul class="nav navbar-nav" th:if="${session.user}==null">
                        <li><a href="/reg"> 注册</a></li>
                        <li><a href="/login">登录</a></li>
                    </ul>
                    <a href="/person" target="_blank">
                        <img style="border-radius: 25px;cursor:pointer;" width="40" height="40"
                             th:src="${session.user.getHeadurl()}" th:if="${session.user}!=null"
                             th:title="${session.user.getUsername()}">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="gg" style="margin: 0px auto; font-size: 2rem" th:utext="${ad}"></div>
</div>

<footer class="footer" th:fragment="foot" >
    友情链接:
    <span th:each="l:${ylink}">
<a th:href="${l.url}" target="_blank" th:text="${l.name}"></a>|
    </span>
    <p>免责声明：本网站所有内容都是靠程序在互联网上自动搜集而来，仅供测试和学习交流。<br/>目前正在逐步删除和规避程序自动搜索采集到的不提供分享的版权影视。</p>
    <p>若侵犯了您的权益，请即时发邮件通知站长 万分感谢！</p>
    <p>db225@qq.com</p>
    <em><a href="/">♥ 淡白影视</a></em>
    [(${footer})]
</footer>
</body>
</html>