<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/include :: common_header(~{::title},~{::meta})">
    <title>淡白影视 - 看你想看</title>
    <meta name="Keywords" content="淡白影视,淡白电影,淡白电视剧,淡白综艺,开源影视网站,弹幕影视,多人在线观看,类似微光"/>
    <meta name="Description" content="淡白影视是一个开源免费的在线影视网站，支持多人在线同步观看和语音通话以及弹幕。"/>
</head>
<body>
<div style="background:#FFF" th:include="include/include :: dhl">
</div>
<div class="container">
    <div class="row" style="padding:0px 7px 0 7px;">
        <div class="col-md-12 movie-item-out">
            <span><a target="_blank" href="/type/dy?page=1" title="电影">更多电影>>></a></span>
            <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">最新电影：</h3>
        </div>
        <!--/*@thymesVar id="dy" type="com.danbai.ys.entity.Ysb"*/-->
        <div class="col-md-2 col-sm-3 col-xs-6 movie-item-out" th:each="ys:${dy}">
            <div class="movie-item" th:inline="text">
                <a style="position:relative;display:block;" target="_blank" th:href="'ys?'+id+'='+(${ys.id})"
                   th:title="${ys.pm}">
                    <img class="indexhot" th:src="${ys.tp}" th:alt="${'淡白影视-'+ys.pm}">
                    <button class="hdtag">[[${ys.zt}]]</button>
                </a>
                <div class="meta">
                    <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" class="movie-name" th:href="'ys?'+id+'='+(${ys.id})">[[${ys.pm}]]</a>
                    </div>
                    <em>添加时间：<strong><span style="color:#FF0000;">[[${ys.gxtime}]]</span></strong></em>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0 7px;">
        <div class="col-md-12 movie-item-out">
            <span><a target="_blank" href="/type/dsj?page=1" title="电视剧">更多剧集>>></a></span>
            <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">最新剧集：</h3>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6 movie-item-out" th:each="ys:${dsj}">
            <div class="movie-item" th:inline="text">
                <a style="position:relative;display:block;" target="_blank" th:href="'ys?'+id+'='+(${ys.id})"
                   th:title="${ys.pm}">
                    <img class="indexhot" th:src="${ys.tp}" th:alt="${'淡白影视-'+ys.pm}">
                    <button class="hdtag">[[${ys.zt}]]</button>
                </a>
                <div class="meta">
                    <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" class="movie-name"
                                                                            th:href="'ys?'+id+'='+(${ys.id})">[[${ys.pm}]]</a>
                    </div>
                    <em>添加时间：<strong><span style="color:#FF0000;">[[${ys.gxtime}]]</span></strong></em>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0 7px;">
        <div class="col-md-12 movie-item-out">
            <span><a target="_blank" href="/type/zy?page=1" title="综艺">更多综艺>>></a></span>
            <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">最新综艺：</h3>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6 movie-item-out" th:each="ys:${zy}">
            <div class="movie-item" th:inline="text">
                <a style="position:relative;display:block;" target="_blank" th:href="'ys?'+id+'='+(${ys.id})"
                   th:title="${ys.pm}">
                    <img class="indexhot" th:src="${ys.tp}" th:alt="${'淡白影视-'+ys.pm}">
                    <button class="hdtag">[[${ys.zt}]]</button>
                </a>
                <div class="meta">
                    <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" title="" class="movie-name"
                                                                            th:href="'ys?'+id+'='+(${ys.id})">[[${ys.pm}]]</a>
                    </div>
                    <em>添加时间：<strong><span style="color:#FF0000;">[[${ys.gxtime}]]</span></strong></em>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0 7px;">
        <div class="col-md-12 movie-item-out">
            <span><a target="_blank" href="/type/dm?page=1" title="动漫">更多动漫>>></a></span>
            <h3 style="padding-left:10px;border-left:8px solid #00A6DE;">最新动漫：</h3>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6 movie-item-out" th:each="ys:${dm}">
            <div class="movie-item" th:inline="text">
                <a style="position:relative;display:block;" target="_blank" th:href="'ys?'+id+'='+(${ys.id})"
                   th:title="${ys.pm}">
                    <img class="indexhot" th:src="${ys.tp}" th:alt="${'淡白影视-'+ys.pm}">
                    <button class="hdtag">[[${ys.zt}]]</button>
                </a>
                <div class="meta">
                    <div style="width:100%;overflow:hidden;height:20px;"><a target="_blank" title="" class="movie-name"
                                                                            th:href="'ys?'+id+'='+(${ys.id})">[[${ys.pm}]]</a>
                    </div>
                    <em>添加时间：<strong><span style="color:#FF0000;">[[${ys.gxtime}]]</span></strong></em>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:include="include/include :: foot"></footer>
</body>
</html>
