<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danbai.ys.mapper.TvbMapper">
    <resultMap id="BaseResultMap" type="com.danbai.ys.entity.Tvb">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="tpurl" jdbcType="VARCHAR" property="tpurl" />
        <result column="dmid" jdbcType="VARCHAR" property="dmid" />
    </resultMap>
</mapper>