<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danbai.ys.mapper.YsbMapper">
    <resultMap id="BaseResultMap" type="com.danbai.ys.entity.Ysb">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pf" jdbcType="REAL" property="pf"/>
        <result column="pm" jdbcType="LONGVARCHAR" property="pm"/>
        <result column="tp" jdbcType="LONGVARCHAR" property="tp"/>
        <result column="zt" jdbcType="LONGVARCHAR" property="zt"/>
        <result column="bm" jdbcType="LONGVARCHAR" property="bm"/>
        <result column="dy" jdbcType="LONGVARCHAR" property="dy"/>
        <result column="zy" jdbcType="LONGVARCHAR" property="zy"/>
        <result column="lx" jdbcType="LONGVARCHAR" property="lx"/>
        <result column="dq" jdbcType="LONGVARCHAR" property="dq"/>
        <result column="yy" jdbcType="LONGVARCHAR" property="yy"/>
        <result column="sytime" jdbcType="LONGVARCHAR" property="sytime"/>
        <result column="pctime" jdbcType="LONGVARCHAR" property="pctime"/>
        <result column="gxtime" jdbcType="LONGVARCHAR" property="gxtime"/>
        <result column="js" jdbcType="LONGVARCHAR" property="js"/>
        <result column="gkdz" jdbcType="LONGVARCHAR" property="gkdz"/>
        <result column="xzdz" jdbcType="LONGVARCHAR" property="xzdz"/>
    </resultMap>
    <select id="getByType" resultMap="BaseResultMap">
        SELECT * FROM `ysb` WHERE
        <choose>
            <when test="param1 == '电影'">
                (`zt` LIKE '%H%' OR '%B%')
            </when>
            <when test="param1 == '电视剧'">
                (`zt` LIKE '%完结%' OR '%集%') AND (`lx` NOT LIKE '%动漫%')
            </when>
            <when test="param1 == '综艺'">
                (`lx` LIKE '%综艺%')
            </when>
            <when test="param1 == '动漫'">
                (`lx` LIKE '%动漫%')
            </when>
        </choose>
        <if test="param2 !='' and param2 !='全部'">
            AND  `lx` LIKE '%${param2}%'
        </if>
        <if test="param3 !='' and param3 !='全部'">
            <choose>
                <when test="param3=='国产'">
                   AND (`dq` LIKE '%大陆%' OR '%中国%' OR '%香港%' OR '%台湾%')
                </when>
                <otherwise>
                    AND `dq` LIKE '%${param3}%'
                </otherwise>
            </choose>
        </if>
        <if test="param4 !='' and param4 !='全部'">
            AND `sytime` LIKE '%${param4}'
        </if>

        <choose>
            <when test="param5 =='更新'">
                ORDER BY `gxtime` DESC
            </when>
            <when test="param5 =='评分'">
                ORDER BY `pf` DESC
            </when>
        </choose>

    </select>
</mapper>